<div class="row mt-4">
    <div class="col-sm-4 col-lg-3">
        <button class="btn btn-primary">Đăng ký</button>
        <p class="fw-bold mt-4">{{course.level}}</p>
    </div>
    <div class="col-sm-8 col-lg-9">
        <h2 class="title">{{course.name}}</h2> <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoID}}?si=ze1AC1Jm7roM4Dth" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <br><p>{{course.description}}</p>
    </div>
</div>